<div class="bg-black text-white w-96">
    <div class="border">IMG DIV</div>
    <p class="font-bold">CARD-TITLE</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim congue urna quis rutrum. Proin ac ipsum ultrices, pellentesque justo vitae, 
       finibus nibh. Praesent magna velit, iaculis in aliquam at, rhoncus at nisl. Curabitur ornare sapien quis dui sollicitudin molestie. Sed in cursus 
       justo, quis porttitor risus. Nullam pretium metus ornare bibendum elementum. Nam gravida augue sit amet lectus accumsan auctor. Donec fermentum 
       aliquet diam, et pharetra justo ultricies ac. Nam sem felis, bibendum ut vulputate sit amet, egestas ut risus. Suspendisse ut ultrices elit, 
       sit amet eleifend est. Integer consectetur lorem sed risus tempus aliquet. Donec at pretium lacus. </p>
</div>