<div class="bg-black h-screen text-white w-96"> 
    <div>
        <img src="../assets/resources/images/logo.png"/>
    </div>
    <div class="flex flex-col items-left">
        <div class="flex">
            <img src="../assets/resources/images/icon-home-selected.png" />
            <a href="#">Página Inicial</a>
        </div>
        <div class="flex">
            <img src="../assets/resources/images/icon-calendar.png" />
            <a href="#">Calendário</a>
        </div>
        <div class="flex">
            <img src="../assets/resources/images/">
            <a href="#">Alerta</a>
        </div>
    </div>
</div>>